body {
  font-family: 'Nunito';
}

header{
  width: 100%;
  position: relative;
  display: block;
}

header .logo-wrapper {
  width: 35%;
  display: inline-block;
  padding: 20px 10px;
  max-width: 34%;
  text-align: left;
  font-size: 40px;
  color: green;
  line-height: 100px;
  font-weight: bolder;
}

header ul.main-menu {
  width: auto;
  padding-left: 50px;
  padding-right: 10px;
  display: inline-block;
  text-align: right;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul.main-menu li.menu-item {
  /* height: 100px; */
  /* width: auto; */
  /* padding: 20px; */
  /* line-height: 100px; */
  display: inline-block;
}
ul.main-menu li.menu-item > a.menu-link {
  padding: 0px 10px;
  line-height: 100px;
  display: block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

ul.main-menu li.menu-item.parent-item > ul.sub-menu {
  display: none;
}
